---

apiVersion: v1
kind: Service
metadata:
  name: {{ gluster_subvol_recycler.gluster_endpoint }}
  namespace: {{ gluster_subvol_recycler.namespace }}
spec:
  clusterIP: None
  ports:
  - port: 1
    protocol: TCP

---

apiVersion: v1
kind: Endpoints
metadata:
  name: {{ gluster_subvol_recycler.gluster_endpoint }}
  namespace: {{ gluster_subvol_recycler.namespace }}
subsets:
- addresses:
{% for ip in gluster_subvol_recycler.gluster_endpoint_ips %}
  - ip: {{ ip }}
{% endfor %}
  ports:
  - port: 1
    protocol: TCP
