---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ gluster_subvol_recycler.service_acct }}
  namespace: {{ gluster_subvol_recycler.namespace }}

---

#-- The SA just needs to be able to:
#-- - list, modify PVs
#-- - Something else because system:persistent-volume-provisioner
#--   isn't working
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: {{ gluster_subvol_recycler.namespace }}:{{ gluster_subvol_recycler.service_acct }}
subjects:
- kind: ServiceAccount
  name: {{ gluster_subvol_recycler.service_acct }}
  namespace: {{ gluster_subvol_recycler.namespace }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  #name: system:persistent-volume-provisioner
  apiGroup: rbac.authorization.k8s.io
